APP_NAME="Pachbaria Swapnasiri Foundation"
APP_ENV=local
APP_KEY=base64:nh1PWNSjcg640Ai6GpZMBGz9+9GKBpSZAUciv/TNJYo=
APP_DEBUG=true
APP_URL=http://somiti-manager.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=somiti_manager
DB_USERNAME=root
DB_PASSWORD=12345678

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database